$breakpoints: (
  768: 768px,
  992: 992px,
  1200: 1200px,
  1440: 1440px,
  1920: 1920px,
);

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }

  @each $name, $size in $breakpoints {
    &-#{$name}-row {
      flex-direction: row;

      @media (min-width: $size) {
        flex-direction: column;
      }
    }

    &-#{$name}-column {
      flex-direction: column;

      @media (min-width: $size) {
        flex-direction: row;
      }
    }
  }
}