@use "@/shared/styles/abstracts/mixins" as m;

.card {
  @include m.flex(column);
  border-radius: var(--size-4);
  overflow: hidden;

  &__image {
    width: 100%;
    border-radius: var(--size-4);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-block-start: var(--size-2);
  }

  &__text-content {
    @include m.flex(column, flex-start, space-between);
    width: 100%;
    gap: var(--size-2);
  }

  &__buttons {
    @include m.flex(unset);
    border-radius: var(--size-4);
    padding: var(--size-4) calc(var(--size-6) - 0.5rem);
    width: 100%;
  }

  &__content {
    @include m.flex(column, unset, unset);
    width: 100%;
    gap: var(--size-2);
    padding: var(--size-4);
    position: relative;
    overflow: hidden;
  }

  &__header {
    @include m.flex(row);
    width: 100%;
  }
  &__footer {
    @include m.flex(row, center, space-between);
    width: 100%;
  }
}
