.icon {
  height: auto;

  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 0.8;
  }

  // .icon--1 ... .icon--10
  @for $i from 1 through 10 {
    &--#{$i} {
      width: calc(var(--size-#{$i}) * 2);
    }
  }

  &--white {
    color: var(--color-neutral-0);
  }
  &--black {
    color: var(--color-neutral-8);
  }
}
