@use "@/shared/styles/abstracts/mixins" as m;
@use "@/shared/styles/abstracts/breakpoints" as bp;

.list {
  @include m.flex(column, flex-start);
  gap: var(--size-2);
  margin-block-end: var(--size-4);
  width: min(100%, 50ch);

  @include bp.up(desktop) {
    margin-block-end: 0;
  }

  &__item {
    list-style: none;

    &--icon {
      padding-inline-start: 8%;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: clamp(1em, calc(1em + 0.2vw), 1.2em);
        width: auto;
        aspect-ratio: 1 / 1;
      }
    }
  }
}
