@use "@/shared/styles/abstracts/mixins" as m;

.dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: min(80vw, 40rem);
  position: fixed;
  overflow: hidden;
  border-radius: var(--size-4);
  z-index: 99;

  &__content {
    @include m.flex(column);
    width: 100%;
    height: 100%;
    padding: var(--size-6) var(--size-6);
    gap: var(--size-4);
    background: var(--color-primary);
  }

  &__buttons {
    @include m.flex(row);
    gap: var(--size-2);
  }

  &__header {
    text-align: center;
    width: 100%;
  }
}

.dialog::backdrop {
  background: var(--color-neutral-6);
  opacity: 0.5;
}
