.fade-out {
  animation: fade-out 1.5s ease-out forwards;
  will-change: transform;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.yeet {
  animation: yeet 1s ease-out forwards;
  will-change: transform opacity;
}

@keyframes yeet {
  0% {
    transform: translate(0, 0) scale(1) rotate(0);
    opacity: 1;
  }
  20% {
    transform: translate(30px, -12px) scale(0.3) rotate(3turn);
    opacity: 0.7;
  }
  100% {
    transform: translate(10px, -25px) scale(0.02) rotate(1turn);
    opacity: 0;
  }
}

.expand-and-collapse {
  animation: expand-and-collapse 1500ms cubic-bezier(0.2, 0.7, 0.2, 1) forwards;
  transform-origin: top;
  will-change: transform;
}

@keyframes expand-and-collapse {
  0% {
    transform: scale(1, 1);
    animation-timing-function: ease-out;
  }

  50% {
    transform: scale(0.7, 1.3);
    animation-timing-function: linear;
  }

  70% {
    transform: scale(0.7, 1.3);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  100% {
    transform: scale(1, 0);
  }
}
